# Environment
NODE_ENV=development
PORT=3001
FRONTEND_URL=http://localhost:8080

# MongoDB Atlas (production) or local (development)
# Atlas example:
MONGODB_URI=mongodb://localhost:27017/paisatracker

# Controls which env file is loaded from ./configs/envs/.env.${APP_ENV}.config
APP_ENV=development
